<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title></title>
   <meta content="" name="description" />
   <meta content="" name="keywords" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet">
</head>

<body style="font-family: 'Poppins', sans-serif; margin: 0;">
   <tr>
      <td style="border: 0;">
         <table width="100%" style="margin: 0 auto; border: 0; border-spacing: 0;">
            <tr>
               <td style="padding: 0; border-spacing: 0; vertical-align: top;">
                  <table width="100%" style="margin: 0 auto; border: 0; border-spacing: 0;">
                     <tr>
                        <td style="padding-bottom: 25px;">
                           <table width="100%" style="margin: 0 auto; border: 0; border-spacing: 0;">
                              <tr>
                                 <td style="width: 20%; text-align: start; border-spacing: 0; vertical-align: top;">
                                    <table width="100%" style="margin: 0 auto; border: 0; border-spacing: 0px;">
                                      
                                      
                                      
                                    </table>
                                 </td>
                                 <td style="width: 60%; text-align: center; border-spacing: 0; vertical-align: top;">
                                    <table width="100%" style="margin: 0 auto; border: 0; border-spacing: 0px;">
                                       <tr>
                                          <td
                                             style="font-size: 23px; font-weight: 700; color: #000; text-align: center; text-transform: uppercase; border-spacing: 0;">
                                             All User </td>
                                       </tr>
                            

                                    </table>
                                 </td>
                                 <td style="width: 20%; text-align: end; border-spacing: 0; vertical-align: top;">

                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                    
                              
                     <tr>
                        <td style="padding-top: 25px;">
                           <table width="100%" style="margin: 0 auto; border: 0; border-spacing: 0;">
                              <tr>
                                 <td style="padding-bottom: 15px;">
                                    <table class="table" width="100%"
                                       style="margin: 0 auto; border: 0; border-spacing: 0;">
                                       <thead>
                                          <tr>
                                             <th
                                                style="background-color: #f2f2f2; font-size: 18px;font-weight: 600;text-align: start;color: #000;border: 2px solid #000;padding: 10px 20px; border-bottom: 0;">
                                              ID</th>
                                               <th
                                               style="background-color: #f2f2f2; font-size: 18px;font-weight: 600;text-align: start;color: #000;border: 2px solid #000;padding: 10px 20px; border-bottom: 0;">
                                              Title</th>
                                             <th
                                                style="background-color: #f2f2f2; font-size: 18px;font-weight: 600;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                                Date</th>
                                                <th
                                                style="background-color: #f2f2f2; font-size: 18px;font-weight: 600;text-align: start;color: #000;border: 2px solid #000;padding: 10px 20px; border-bottom: 0;">
                                              User</th>
                                             <th
                                                style="background-color: #f2f2f2; font-size: 18px;font-weight: 600;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                                Score</th>
                                                <th
                                                style="background-color: #f2f2f2; font-size: 18px;font-weight: 600;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                               Schedule</th>
                                                <th
                                                style="background-color: #f2f2f2; font-size: 18px;font-weight: 600;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                               Status</th>
                                          </tr>
                                       </thead>
                                       <tbody>
    
                                             <tr>
                                                <td
                                                   style="font-size: 16px;font-weight: 500;text-align: start;color: #000;border: 2px solid #000;padding: 10px 20px; border-bottom: 0;">
                                                   <table width="100%"
                                                      style="margin: 0 auto; border: 0; border-spacing: 0;">
                                            
                                                         <tr>
                                                            <td
                                                               style="font-size: 16px;font-weight: 500;text-align: start;color: #000;">
                                                               <%=user._id%>
                                                            </td>
                                                         </tr>
                                                         
                                                      
                                                   </table>
                                                </td>
                                                <td
                                                   style="font-size: 16px;font-weight: 500;text-align: center;color: #000;border: 2px solid #000;padding: 12px; border-left: 0; border-bottom: 0; vertical-align: middle;">
                                                 
                                                   <%=user.title%>
                                                </td>

                                                <td
                                                   style="font-size: 16px;font-weight: 500;text-align: start;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                                   <%=user.createdAt%>
                                                </td>
                                                
                                                <td
                                                   style="font-size: 16px;font-weight: 500;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                                   <%=user.user%>
                                                </td>
                                                <td
                                                style="font-size: 16px;font-weight: 500;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                                <%=user.score%>
                                             </td>
                                             <td
                                             style="font-size: 16px;font-weight: 500;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                             <%=user.schedule%>
                                          </td>
                                          <td
                                          
                                             style="font-size: 16px;font-weight: 500;text-align: center;color: #000;border: 2px solid #000;padding: 10px 20px; border-left: 0; border-bottom: 0;">
                                             <%=user.status%>
                                          </td>
                                             </tr>
                                           
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>

                  </table>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</body>

</html>